:root {
    --code-border: color-mix(in srgb, var(--text-color) 10%, transparent);
}

$header-padding-vertical: 6px;
$header-border-thickness: 1px;
$line-number-color: color-mix(in srgb, var(--text-color) 53%, transparent);

// Mandatory Giallo CSS (see https://www.getzola.org/documentation/content/syntax-highlighting/)
.giallo-l {
    display: inline-block;
    min-height: 1lh;
    width: 100%;
}
.giallo-ln {
    display: inline-block;
    user-select: none;
    padding-inline-end: 20px;
    min-width: 3ch;
    text-align: end;
    color: $line-number-color;
}

.copy-button {
    position: absolute;
    top: $header-padding-vertical;
    right: 10px;
    padding: 3px 8px;
    width: 4.5rem;
    border: 1px solid color-mix(in srgb, var(--accent-color) 15%, transparent);
    font-size: calc(var(--font-size) * 0.8);
    font-weight: normal;
    line-height: 1em;

    @media print {
        display: none;
    }
}

pre.giallo {
    display: block;
    position: relative;
    padding: 0;
    overflow-y: hidden;

    // Monokai (and some other themes) emit background-color on whitespace-only
    // spans. Strip it so spaces don't render as colored blocks. Exclude .giallo-l
    // spans, which carry the highlight background for marked lines.
    span:not(.giallo-l)[style*="background-color"] {
        background-color: transparent !important;
    }

    // Language header bar, driven by the data-lang attribute on <code>.
    code[data-lang]::before {
        content: attr(data-lang);
        display: block;
        padding: $header-padding-vertical 10px;
        margin: -10px -10px 10px -10px;
        border-bottom: $header-border-thickness solid var(--code-border);
        color: $line-number-color;
        font-size: calc(var(--font-size) * 0.8);
        text-transform: uppercase;
        line-height: 21px;
    }

    code[data-lang] {
        display: block;
        overflow-x: auto;
        padding: 10px;

        // Filename label, positioned in the header bar area.
        &[data-name]::after {
            content: attr(data-name);
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            padding: $header-padding-vertical 10px;
            max-width: 60%;
            color: $line-number-color;
            font-size: calc(var(--font-size) * 0.8);
            line-height: 21px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        mark {
            margin-inline: -10px;
            padding-inline: 10px;
            color: unset;
        }
    }

    &:has(.copy-button) code[data-name]::after {
        @media screen {
            right: calc(4.5rem + 10px);
        }
    }
}
